<nav class="navbar navbar-expand-lg navbar-light border-bottom">

<header class="container">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%#= image_tag asset_path('header_logo_2.jpg'), { height:50 } %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
        <span class="navbar-text">
          ようこそ、<%= current_customer.last_name %> <%= current_customer.first_name %>さん！
        </span>
      <li class="nav-movie">
        <%= link_to "マイページ", public_customer_path(current_customer), class: "nav-link" %>
      </li>
      <li class="nav-movie">
        <%= link_to "賃貸物件一覧", public_movies_path, class: "nav-link" %>
      </li>
      <li class="nav-movie">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
      </li>
      <li class="nav-movie">
        <%= render 'public/searches/form' %>
      </li>
      <li class="nav-movie">
        <%#= link_to "問い合わせ",new_public_inquiry_path , class: "nav-link" %>
      </li>
      <% else %>
        <li class="nav-movie">
          <%#= link_to "About", homes_about_path, class: "nav-link" %>
        </li>
        <li class="nav-movie">
          <%= link_to "商品一覧", public_movies_path, class: "nav-link" %>
        </li>
        <li class="nav-movie">
          <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-movie">
          <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
</nav>